$size__site-main: 100%;
$size__site-sidebar: 25%;


//Breakpoint sizes
$breakpoint-phone: 420px;
$breakpoint-phone-to-tablet: 768px;
$breakpoint-tablet-to-desktop: 1240px;
$breakpoint-desktop-to-extralarge: 1479px;